* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0px;
}

p {
  font-family: Arial;
  margin: 60px;
  margin-bottom: 1px;
}

h1 {
  font-family: Arial;
  font-size: 40px;
  margin-left: 50px;
}

h2 {
  font-family: Arial;
  margin: 60px;
  font-size: 40px;
}

main {
  /* Turns this element into a flexbox */
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 10px;
  color: black;
  position: fixed;
  width: 100%;
  
}


.box header{
  padding: 20px;
  

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:visited{
  color: black;
  text-align: center;
  text-decoration: none;
}

a{
  color: black;
  text-align: center;
  text-decoration: none;
}


li a:hover {
  color: gray;
}


.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0px;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  width: 600px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-large {
  background-image: url("subtitle.jpg");
  background-size: 1320px;
  padding: 5px;
  width: 1320px;
  height: 400px;
  margin-top: 0px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-large:hover{
  opacity: .33;
}

.flex-item:hover{
  opacity: .33;
}

#pro-2{
  background-image: url("subtitle.jpg");
  background-size: 600px;
}

#pro-3{
  background-image: url("subtitle.jpg");
  background-size: 600px;
}

#pro-4{
  background-image: url("subtitle.jpg");
  background-size: 600px;
}

#pro-5{
  background-image: url("subtitle.jpg");
  background-size: 600px;
}

.sub-image{
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("image2.jpg");
  background-size: cover;
  background-position: center;
}

.footer{
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 10px;
  color: black;
}

.list{
  display: flex;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  padding: 60px;
  padding-right: 25px;
  color: black;
  font-size: 20px;
}

html { 
  scroll-behavior: smooth; 
} 

@media only screen and (max-width: 768px){
  .flex-container {
    flex-direction: column;
  }
  .flex-large{
    width: 600px;
    height: 150px;
  }
  .list{
    flex-direction: column;
  }
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-large{
    width: 600px;
    height: 150px;
  }
  .list{
    flex-direction: column;
  }

}

@media (max-width: 500px){
  .flex-container {
    flex-direction: column;
  }
  .flex-large{
    width: 500px;
    height: 150px;
  }
  .flex-item{
    width: 500px;
    height: 150px;
  }
  .list{
    flex-direction: column;
  }
}